extends ../layout

block body
  .container-fluid(ng-controller="WordnikCtrl")
    .row-fluid
      <!-- Side bar -->
      .span2#side
        .row-fluid
          .span12
            h1= title
            p The non-intrusive personal vocabulary builder
        .row-fluid
          form#query(ng-submit='search()')
            input.span12(type='text', ng-model='query', autofocus,
            placeholder='Search Word')
        .row-fluid
            ul.nav.nav-pills.nav-stacked.span12(type="none")
              li
                a(href="https://github.com/nons/lex") Code on Github
              li
                a(href="http://xingzhou.me") dekom

      <!-- Body -->
      .span10#main
        .row-fluid
          article#results.span12
            header.page-header
              h1 {{ results.query }} 
                small(ng-bind-html-unsafe="results.pronunciations[0].raw")
                i(ng-show="results.audio"
                  ng-click="playAudio()").icon-volume-up#audioPlay

              audio#audio(
                ng-src="{{results.audio[0].fileUrl}}"
                ng-show="results.audio"
                autoplay
                type="audio/mp3")
                Your browser does not support 
                  code HTML5 audio.

            section
              <!-- Definitions -->
              dl.row-fluid#definitions
                div(ng-repeat="def in results.definitions")
                  dt {{def.partOfSpeech}}
                  dd {{def.text}}

            section
              <!-- Related Words -->
              dl#relatedwords
                div(ng-repeat="related in results.relatedWords")
                  dt {{related.relationshipType}}
                  dd
                    ul
                      li(ng-repeat="word in related.words")
                        {{word}}
